body {
    margin:20px;
}
h1 {
    font-size: 1em;
}

h1:hover {
    cursor: pointer;
    color: #f00;
}

h1:active {
    color:#555;
}

#write {
    font-size: 1em;
    color: #ff8800;
}
input {
    outline: none;
}
